/* Homepage Only Variables */
:root {
  --main-max-width: 980px;
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0;
  }

  /* need to add padding on small screens */
}

/*
 *  Formatting for all elements
 *
*/

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
main {
  margin-left: 120px;
}

p {
  color: var(--alt-text-color);
}

h1 {
  font-size: 64px !important;
}

figure {

}

figcaption {
  color: var(--alt-text-color);
}

img {
  width: 100%;
  height: auto;
  max-width: var(--main-max-width);
}

article {
  max-width: var(--main-max-width);
  margin: 0 auto;
}

section {
  max-width: var(--main-max-width);
  margin: 0 auto;
}

hr {
  opacity: 0.60;
  width: 200px;
}

footer {
  font-size: 18px;
  color: var(--alt-text-color);
  max-width: var(--main-max-width);
  margin-left: auto;
  margin-right: auto;
}

/*
 *  Formatting used throughout the page
 *
*/

.vert-space {
  padding-top: 16px;
  padding-bottom: 16px;
}

.center-text {
  text-align: center !important;
}

.small-text {
  font-size: 12px;
}

.medium-text {
  font-size: 24px !important;
}

.large-text {
  font-size: 36px !important;
}

.large-pad {
  padding: 12px 24px !important;
}

/*
 *  Formatting for the sidebar
 *
*/

.sidebar {
  width: 100px;
  background-color: var(--alt-bg-color);
  font-size: 12px !important;
  height: 100%;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
}

p.sidebar-title {
  color: var(--main-text-color);
}

.sidebar-link {
  color: var(--main-text-color);
  text-align: inherit !important;
  white-space: normal !important;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}

.sidebar-link:hover {
  background-color: var(--main-bg-color) !important;
  color: var(--main-text-color);
}

.sidebar-icon {
  color: var(--main-text-color);
  margin: 0px;
}

/*
 *  Formatting for site display
 *
*/

.site {
  margin: 16px 0px;
  letter-spacing: 4px;
}

.site-container {
  margin: 0px auto 32px auto;
  /* Set "my-sec-counter" to 0 */
  counter-reset: bar-size;
}

#sites {
  text-align: justify !important;
}

.light-bar {
  height: 28px;
  background-color: var(--main-text-color);
}

.dark-bar {
  height: inherit;
  background-color: var(--alt-text-color);
}

/*
 *  Formatting for the item display
 *
*/

.display {
  color: var(--alt-bg-color);
  background-color: var(--main-text-color);
  padding: 16px 0px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

.display::after {
  content: "";
  display: table;
  clear: both;
}

.display-entry {
  margin: inherit;
  width: 25%;
  float: left;
}

/*
 *  Formatting used for the About section
 *
*/

.about-icon {
  color: var(--main-text-color);
  margin-right: 16px;
  width: 1.3em;
  text-align: center;
}

/*
 *  Formatting for the footer
 *
*/

.footer-item {
  margin: auto;
}
